body
{
    background-image: url('quiz-img.jpg');
}
#div1
{
    font-family:'Courier New', Courier, monospace;
    padding: 4px;
    background-color: grey;
    width:auto;
    height:auto;
    color:black;
    border: 2px solid black;
    text-align: center;
}
.buttons
{
    background-color: cornflowerblue;
    width: 80px;
    height: 35px;
    color:white;
    border: 2px navy solid;
    text-align: center;
}
.messages
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}